@import "./custom.bootstrap.scss";

:root {
	--light: #f8f8f8;
	--color1: #000040;
	--color2: #ff6b00;
	--header-size: 2rem;
}

body {
	background-color: var(--light);
	color: var(--color1);
}

a {
	color: var(--color2);
	text-decoration: none;
	font-weight: 500;
	&:hover {
		color: var(--light);
		background-color: var(--color2);
		text-decoration: underline;
	}
}

p {
	&.big {
		font-size: 1.25rem;
	}
}

ul,
ol {
	padding-left: 1rem;
}

.color1 {
	color: var(--color1);
}

.color2 {
	color: var(--color2);
}
#basic-navbar-nav {
	.navbar-nav {
		.nav-link {
			color: var(--color2);
			padding: 0 0.5rem 0 0.5rem;
			&:hover,
			&:focus {
				color: white;
			}
		}
	}
}

.zoomableImage {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.5s ease, transform 0.5s ease;
	&:hover {
		box-shadow: 0px 15px 15px 0px #0003;
		transform: scale(1.01);
	}
}
